<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value="http://dxbegww70dv/sites/usman" />
    <add key="List" value="Infospace TODO" />
    <add key="ItemsToProcess" value="5" />
    <add key="ModerationEnabled" value="true" />
    <add key="Mutex" value="{097329DA-F105-462B-883A-44882244F51E}" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
